!!! 5
%html
  %head
    %title FxN Dev
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/styles.min.css'}
    %script{type: "text/javascript", src: "js/ga.js"}
  %body
    .container
      .row
        .span3
          %h3 Social...
          %ul
            %li
              Twitter: 
              %a{href: "https://twitter.com/#!/efexen"} @efexen
            %li
              LinkedIn: 
              %a{href: "http://www.linkedin.com/in/villehellman"} Ville Hellman
            %li
              Github: 
              %a{href: "https://github.com/efexen" } eFeXeN
            %li
              Instagram: 
              %a{href: "https://www.instagram.com/efexen/" } eFeXeN
            %li
              Medium: 
              %a{href: "https://medium.com/@efexen" } Ville Hellman (FxN)

      .row
        .span3
          %h3 Work...
          %ul
            %li
              %a{href: "http://fitzdares.com/"} Fitzdares

      .row
        .span6
          %h3 Education...
          %ul
            %li
              Bsc Honours Computing 
              %a{href: "http://www.open.ac.uk/"} Open University

      .row
        .span6
          %h3 Projects...
          %ul
            %li
              %a{href: "https://codehalf.com"} CodeHalf

      .row
        .span6
          %h3 Posts...
          %ul
            %li
              %a{href: "https://medium.com/@efexen/write-code-every-day-aab8c7c192f5"} Write Code Every Day
            %li
              %a{href: "http://blog.fxndev.com/erlang-elixir/"} Erlang, Elixir & Phoenix Framework on Linux Mint
            %li
              %a{href: "http://blog.fxndev.com/you-should-write-comments/"} You should write comments
            %li
              %a{href: "http://blog.fxndev.com/championing-change/"} Affecting Change in Development Teams
            %li
              %a{href: "http://blog.fxndev.com/raspberry-pi-physical-web-first-steps/"} Raspberry Pi &amp; Physical Web: Getting Started
            %li
              %a{href: "http://blog.fxndev.com/raspberry-pi-and-led-fun/"} Raspberry Pi, NodeJS and Basic Electronics
            %li
              %a{href: "http://blog.fxndev.com/raspberry-pi-nodejs-project-setup"} Raspberry Pi NodeJS Project Setup with Git Deployment
            %li
              %a{href: "http://blog.fxndev.com/why-im-not-excited-about-swift"} Why I'm not excited about Swift
            %li
              %a{href: "http://www.rawnet.com/latest-news/will-google-glass-become-more-than-just-a-novelty"} Will Google Glass become more than just a novelty?
            %li
              %a{href: "http://blog.fxndev.com/create-your-first-atom-package-in-js/"} Create your first Atom package in JS
            %li
              %a{href: "http://blog.fxndev.com/how-i-like-my-javascript/"} How I like my JavaScript

      .row
        .span6
          %h3 Talks...
          %ul
            %li
              %a{href: "https://www.youtube.com/watch?v=ddOwgSs27zI"} Lightning Talk about Lightning Talks
            %li
              %a{href: "https://www.youtube.com/watch?v=i1GJX-iz210"} Physical Web Lightning Talk

      .row
        .span6
          %h3 Stuff...
          %ul
            %li
              %a{href: "https://github.com/efexen/python-fizzbuzz"} FizzBuzz in Python
            %li
              %a{href: "https://github.com/efexen/messenger_platform"} Rails Gem for Facebook Messenger Platform integration
            %li
              %a{href: "https://github.com/efexen/formerer"} Form backend platform with Elixir &amp; Phoenix
            %li
              %a{href: "https://github.com/efexen/python_snake"} Snake game in Python with PyGame
            %li
              %a{href: "https://github.com/efexen/pivotal_markdown_link"} Pivotal Markdown Link Chrome Extension
            %li
              %a{href: "https://github.com/efexen/fxndev.com"} This page in GitHub
            %li
              %a{href: "https://github.com/efexen/fbhc2013_beautiful_strings"} Facebook Hacker Cup 2013 Qualification round entry
            %li
              %a{href: "https://plugins.jquery.com/character.counter/"} jQuery Character Counter
            %li
              %a{href: "http://js1k.com/2012-love/demo/1148"} JS1K 2012 Entry
            %li
              %a{href: "http://www.netmagazine.com/shop/magazines/march-2012-225"} jQuery Mobile Article in .NET Mag
            %li
              %a{href: "https://github.com/efexen/webgl-binary-clock"} WebGL 3D Binary Clock
            %li
              %a{href: "https://market.android.com/details?id=com.fxndev.decimaltime&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5meG5kZXYuZGVjaW1hbHRpbWUiXQ.."} Decimal time Android App

      .row
        .span6
          %h3 Keeping me busy...
          %ul
            %li Family
            %li Running
            %li CodeHalf
            %li New Stuff
