!!! 5
%html
  %head
    %title FxN Dev
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/cleaned.min.css'}
    %script{type: "text/javascript", src: "js/ga.js"}
  %body
    .container
      .row
        .span3
          %h3 Social...
          %ul
            %li 
              Twitter: 
              %a{href: "https://twitter.com/#!/efexen"} @efexen
            %li
              LinkedIn: 
              %a{href: "http://www.linkedin.com/in/villehellman"} Ville Hellman
            %li
              Github: 
              %a{href: "https://github.com/efexen" } eFeXeN

      .row
        .span3
          %h3 Work...
          %ul
            %li 
              %a{href: "http://rawnet.com/"} Rawnet

      .row
        .span3
          %h3 Blog posts...
          %ul
            %a{href: "http://blog.fxndev.com/how-i-like-my-javascript/"} How I like my JavaScript

      .row
        .span3
          %h3 Finished Projects...
          %ul
            %li
              %a{href: "https://plugins.jquery.com/character.counter/"} jQuery Character Counter
            %li
              %a{href: "http://js1k.com/2012-love/demo/1148"} JS1K 2012 Entry
            %li
              %a{href: "http://www.netmagazine.com/shop/magazines/march-2012-225"} jQuery Mobile Article in .NET Mag
            %li
              %a{href: "https://market.android.com/details?id=com.fxndev.decimaltime&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5meG5kZXYuZGVjaW1hbHRpbWUiXQ.."} Decimal time Android App

      .row
        .span3
          %h3 Keeping me busy...
          %ul
            %li
              %a{href: "http://www.codeschool.com/users/fxn"} CodeSchool Courses
            %li Ruby on Rails
            %li JavaScript
            %li Gaming
